.form {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 10px;
  column-gap: 5px;
  border: 1px dashed rgb(144, 98, 244);
  padding: 5px;
  border-radius: 5px;
  align-items: center;

  & > label {
    font-weight: bold;
    text-align: right;
  }

  & > div {
    grid-column: 1 / 3;
    justify-self: center;
    display: flex;
    gap: 10px;
  }
}
