.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  font-size: larger;
  border-radius: 20px;
  padding: 10px;

  &:hover {
    filter: brightness(0.9);
  }

  &:active {
    filter: brightness(0.8);
  }
}
